* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
}
.search-head{
  text-align: center;
  color: #fff;
  background-color: #e94f1f;
  margin-top: 1.2rem;
  padding: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo {
  width: 10%;
}
.anchor-head {
  text-decoration: none;
}
.logo-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  padding: 10px;
}
.food-heading {
  margin-top: 25px;
}
.nav-items > ul {
  list-style: none;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  gap: 2rem;
}
.nav-items > ul > li {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-items > ul > li:hover {
  color: #fff;
  background-color: #e94f1f;
}

.loginBtn {
  border: none;
  padding: 6px 12px;
  background-color: #e94f1f;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.TopHeading {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.2rem;
  font-weight: 900;
  padding: 1.2rem;
  text-align: center;
  background-color: #e94f1f;
  color: #fff;
}
.res-card {
  width: 280px;
  transition: 0.05s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 10px;
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  height: 410px;
}

.res-logo {
  width: 100%;
  height: 55%;
  padding: 0.2rem;
  border-radius: 16px;
}
.star-rating {
  color: #fff;
  background-color: rgb(10, 181, 10);
  border-radius: 50%;
}

.top-res {
  margin-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  width: auto;
}
.top-res-card {
  max-width: 290px;
  transition: 0.05s;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 10px;
  border-radius: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.top-res-logo {
  width: 100%;
  height: 48%;
  padding: 0.2rem;
  border-radius: 16px;
}
.heading-kolkata {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.2rem;
  font-weight: 900;
  padding: 1.2rem;
  text-align: center;
  background-color: #e94f1f;
  color: #fff;
}
.shimmer-container {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.2rem;
  display: flex;
}
.shimmer-card {
  cursor: pointer;
  border-radius: 6px;
  max-width: 300px;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 50ms;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.search {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.search-box {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
}
.search-btn {
  cursor: pointer;
  color: #fff;
  background-color: #e94f1f;
  border: none;
  border-radius: 5px;
  margin-left: 0.9rem;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 700;
}
.allRes-btn {
  cursor: pointer;
  color: #fff;
  background-color: #e94f1f;
  border: none;
  border-radius: 5px;
  margin-left: 0.9rem;
  padding: 15px 20px;
  font-size: 12px;
  font-weight: 700;
}
.about-container {
  width: 100%;
}
.about-head {
  margin-top: 3rem;
  font-size: 32px;
  font-weight: 900;
  padding: 1.5rem;
}
.about-head-main {
  background-color: #e94f1f;
  color: #fff;
  padding: 2rem;
}
.about-img {
  width: 100%;
}
.contact-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: hidden;
  margin-top: 0.5rem;
}
.contact-left img {
  width: 100%;
}
.contact-container .contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.contact-container .contact-right form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 100%;
}
.contact-container .contact-right form textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 100%;
}
.contact-container .contact-right form button {
  padding: 10px 15px;
  margin: 10px;
  background-color: #e94f1f;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.contact-head {
  margin-top: 2rem;
  font-size: 32px;
  font-weight: 900;
}
.restaurant-menu {
  width: 100%;
  margin-top: 1.2rem;
}
.restaurant-summary {
  min-height: 200px;
  background-color: #e94f1f;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  flex-direction: column;
  margin: 20px;
  display: flex;
}
.restaurant-title {
  font-size: 32px;
  font-weight: 900;
}
.restaurant-rating {
  background-color: #097309;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
  padding: 5px 8px;
  display: flex;
}
.recommend-head {
  font-weight: 900;
  font-size: 24px;
  padding: 1.2rem;
  text-align: center;
}
.all-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 0.5px solid rgba(40, 44, 63, 0.45);
}
.all-menu-description-left {
  width: 50%;
  padding: 1.2rem;
}
.menu-desc {
  line-height: 20px;
  font-weight: 600;
}
.all-menu-description-right {
  padding: 1rem;
}
.all-menu-description-right img {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
  width: 100%;
  padding: 1.5rem;
  margin-top: 1.2rem;
  background-color: #e94f1f;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.footer-head {
  text-align: center;
  color: #fff;
}
.city-head {
  padding: 1.2rem;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  background-color: #e94f1f;
  color: #fff;
}
.city-container {
  width: 100%;
}
.all-city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.2rem;
}
.kolkata {
    cursor: pointer;
    color: #fff;
    background-color: #FF9800;
    width: 10%;
    text-decoration: none;
    box-shadow: 0 4px 20px #28632b, 0 6px 20px #f5430a;
}
.kolkata-img {
  width: 100%;
}
.kolkata-txt {
  text-align: center;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 875px) {
  .nav-items {
    display: none;
  }
}
@media (max-width: 560px) {
  .about-head {
    font-size: 18px;
  }
  .about-head-main {
    font-size: 18px;
    padding: 0.5rem;
  }
}
@media (max-width: 680px) {
  .all-menu-description-left {
    width: 100%;
  }
}

@media (max-width: 546px) {
  .all-city {
    flex-direction: column;
    gap: 1rem;
  }
  .kolkata {
    width: 25%;
  }
}
